*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #efefef;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
}

div{
    width: 1000px;
    margin: 0 auto;
}

nav{
    margin: 50px 150px 0 0;
    float: right;
}

nav a{
    margin-right: 50px;
    text-decoration: none;
    font-size: 16px;    
    font-weight: bold;    
}

section{
    margin-top: 70px;
    width: 800px;
    margin: 0 auto;
}

fieldset {
    padding: 20px;
    width: 700px;
    background-color: #fff;
}

input{
    padding:5px;
    width: 300px;
    font-size: 16px;
}

button{
    width:100px;
    height:30px;
    font-weight: bold;
    font-size:16px;
}

#cep{
    text-decoration: none;
    font-size:14px;
}

#button{
    width:200px;
    height:30px;
    font-weight: bold;
    font-size:16px;    
}

#cliente{
    margin-top: 50px;
}

